<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<link th:href="@{~/css/main.css}" rel="stylesheet" type="text/css" />
<!--<style th:href="@{css/main.css}"></style>-->
<body>
<img width="700" height="500" src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&src=http%3A%2F%2Fimg.zcool.cn%2Fcommunity%2F01389e58d1f47ea801219c772f1a28.png"/>
yo huo , this is an error page(500),
because of
<span class="error" th:text="${errorMsg}"></span>
<br/>多刷新几次试试
<div th:replace="contain/back"></div>
</body>
</html>