<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<link th:href="@{~/css/main.css}" rel="stylesheet" type="text/css" />
<body>
<h1>index</h1>
<div class="margin-div">
    <a th:href="@{/login_access}">LoginAccess</a>
    <a th:href="@{/busi_excep}" th:title="有几率获得异常">BusiException</a>
    <a th:href="@{/inject_user}" th:title="有几率获得异常">check inject user</a>
</div>
<div class="margin-div">
    <form th:action="@{/}">
        <label>pageNum:</label>
        <input type="text" name="pageNum" th:value="${page.pageNum}"/>
        <label>pageSize:</label>
        <input type="text" name="pageSize" th:value="${page.pageSize}">
        <button>submit</button>
    </form>
</div>
<table border="1" cellpadding="0" cellspacing="0" width="100%">
    <thead>
    <th>id</th>
    <th>count</th>
    <th>uuid</th>
    <th>ffaPeriod</th>
    </thead>
    <tbody>
    <tr th:each="d , s: ${demandList}">
        <td th:text="${d.id}"></td>
        <td th:text="${s.count}"></td>
        <td th:text="${d.uuid}"></td>
        <td th:text="${d.ffaPeriod}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>